*,html,body{margin:0px;padding:0px;}
body{font-family:Verdana, Geneva, sans-serif;font-size:12px;}

#container{position:absolute;width:400px;height:400px;left:50%;margin-left:-200px;top:50%;margin-top:-200px;}
	#container label{display:block;line-height:30px;}